.hero{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-between;
}
.hero-slider{
    height: 390px;
    width: 70%;
    border-radius: 20px;
    background-image: url("../img/photos/hero__bg.png");
    position: relative;
}
.hero-slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #a6d4ff98;
}
.hero-slider__inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero-slider .slick-slider{
    width: 85%;
    height: 80%;
    position: relative;
}
.hero-slider .slick-track{
    display: flex;
}
.hero-slider .slick-slide{
    width: 100%;
    height: calc(390px / 100 * 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}
.hero-slider .slick-slide.slick-active{
    visibility: visible;
    opacity: 1;
}
.hero-slider .slick-arrow{
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.418);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    transition: 0.2s;
    cursor: pointer;
}
.hero-slider .slick-arrow.slick-disabled{
    visibility: hidden;
    opacity: 0;
}

.hero-slider .slick-arrow.slick-prev{
    left: 0;
    transform:translate(-50%,-50%);
    background-image: url("../img/svg/ch_left.svg");
    background-position:45%;
    background-repeat: no-repeat;
}
.hero-slider .slick-arrow.slick-prev:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.hero-slider .slick-arrow.slick-next{
    right: 0;
    transform:translate(50%,-50%);
    background-image: url("../img/svg/ch_right.svg");
    background-position:55%;
    background-repeat: no-repeat;
}
.hero-slider .slick-arrow.slick-next:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.hero-slider .slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    display: flex;
    column-gap: 10px;
}
.hero-slider .slick-dots li{
    display: flex;
}
.hero-slider .slick-dots li button{
    border: none;
    outline: none;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: white;
    height: 16px;
    width: 16px;
    font-size: 0;
    transition: 0.3s;
    cursor: pointer;
}
.hero-slider .slick-dots li.slick-active button{
    background-color: black;
    width: 32px;
}
.hero-slider .slick-dots li:not(.slick-active):hover button{
    background-color: gray;
}
.hero-slider .slick-slide_inner-left{
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.hero-slider .slick-slide_desc{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}
.hero-slider .slick-slide_name{
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.hero-slider .slick-slide_price{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.hero-slider .slick-slide_price span{
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    white-space: nowrap;
}
.hero-slider .slick-slide_toBasket{
    width: 160px;
    height: 49px;
    background-color: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.hero-slider .slick-slide_toBasket:hover{
    background-color: #0079f1;
}
.hero-slider .slick-slide_toBasket svg{
    visibility: visible;
    opacity: 1;
}
.hero-slider .slick-slide_toBasket svg path{
    visibility: visible;
    opacity: 1;
    fill: white;
}
.hero-slider .slick-slide_toBasket-text{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hero-slider .slick-slide_inner-right{
    height: 100%;
    width: fit-content;
}
.hero-slider .slick-slide_inner-right img{
    max-height: 100%;
    max-width: 100%;
}
.hero-another-items{
    height: 390px;
    width: 29%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
}
.hero-another-items::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.hero-another-items__item{
    height: calc(50% - 5px);
    min-height: 190px;
    max-height: 190px;
    width: 100%;
    background-color: #F4F5FA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
}
.hero-another-items__item__about-item{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.hero-another-items__item__about-item__image{
    max-width: 80px;
}
.hero-another-items__item__about-item__description{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
    padding-top: 5px;
    min-width: 142px;
}
.hero-another-items__item__about-item__description h3{
    font-weight: 400;
}
.price-and-toBasket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-toBasket__price{
    color: #FFB800;
    font-size: 20px;
}
.price-and-toBasket__price span{
    color: #C2C5DA;
    font-size: 16px;
    white-space: nowrap;
    text-decoration-line: line-through;
}
.price-and-toBasket__toBasket{
    width: 57px;
    height: 49px;
    background-color: #005BB9;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.price-and-toBasket__toBasket:hover{
    background-color: #0079f1;
}
@media (max-width: 1370px){
    .hero-slider{
        height: 314px;
        width: 60%;
    }
    .hero-slider__inner{
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .hero-slider .slick-slider{
        width: 100%;
        height: 100%;
    }
    .hero-slider .slick-dots{
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    .hero-slider .slick-dots li button{
        height: 12px;
        width: 12px;
    }
    .hero-slider .slick-dots li.slick-active button{
        width: 24px;
    }
    .hero-slider .slick-slide{
        height: 274px;
        width: 383px;
    }
    .hero-slider .slick-slide_inner-left{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .hero-slider .slick-slide_desc{
        font-size: 26px;
        line-height: 30px;
    }
    .hero-slider .slick-slide_name{
        font-size: 16px;
        line-height: 19px;
    }
    .hero-slider .slick-slide_price{
        font-size: 25px;
        line-height: 26px;
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-slider .slick-slide_price span{
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
    }
    .hero-slider .slick-slide_toBasket{
        width: 152px;
        height: 46px;
    }
    .hero-slider .slick-slide_toBasket-text{
        font-size: 14px;
        line-height: 16px;
    }
    .hero-slider .slick-slide_inner-right{
        margin-right: 22px;
        display: flex;
        align-items: center;
    }
    .hero-slider .slick-slide_inner-right img{
        height: max-content;
        max-height: 100%;
        max-width: 100%;
        min-width: 131px;
    }
    .hero-another-items{
        height: 314px;
        width: 39%;
    }
    .hero-another-items__item{
        height: 152px;
        row-gap: 10px;
        min-height: 152px;
        max-height: 152px;
    }
    .hero-another-items__item__about-item{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    .akciya{
        font-size: 12px;
        line-height: 14px;
    }
    .hero-another-items__item__about-item__description{
        font-size: 13px;
        line-height: 20px;
    }
    .hero-another-items__item__about-item__image{
        width: 70px;
    }
    .hero-another-items__item__about-item__image img{
        width: 70px;
        height: 65px;
    }
    .hero-another-items__item__about-item__description{
        row-gap: 5px;
    }
    .hero-another-items__item__about-item__description h3{
        font-size: 10px;
        line-height: 12px;
    }
    .price-and-toBasket h2{
        display: flex;
        flex-direction: column-reverse;
    }
    .price-and-toBasket__toBasket{
        width: 39px;
        height: 39px;
    }
}
@media (max-width: 767px){
    .hero{
        flex-wrap: wrap;
    }
    .hero-slider{
        width: 100%;
        height: 195px;
    }
    .hero-slider__inner{
        padding: 10px 0 ;
    }
    .hero-slider{
        margin-right: 20px;
    }
    .hero-slider .slick-dots{
        transform: translate(-50%,50%);
    }
    .hero-slider .slick-slide{
        height: 165px;
    }
    .hero-slider .slick-slide_desc{
        white-space: nowrap;
        font-size: 16px;
        line-height: 19px;
    }
    .hero-slider .slick-slide_name{
        font-size: 10px;
        line-height: 12px;
    }
    .hero-slider .slick-slide_price{
        font-size: 20px;
        line-height: 23px;
    }
    .hero-slider .slick-slide_price span{
        font-size: 14px;
        line-height: 16px;
    }
    .hero-slider .slick-slide_toBasket{
        width: 124px;
        height: 34px;
    }
    .hero-slider .slick-slide_toBasket svg{
        max-width: 12px;
        max-height: 12px;
    }
    .hero-slider .slick-slide_toBasket h3{
        font-size: 12px;
        line-height: 14px;
    }
    .hero-slider .slick-slide_inner-right{
        margin-right: 0px;
    }
    .hero-slider .slick-slide_inner-right img{
        position: relative;
        right: 10px;
    }
    .hero-another-items{
        height: 145px;
        width: 100%;
        flex-direction: row;
        column-gap: 10px;
        row-gap: 0;
    }
    .hero-another-items__item{
        height: 145px;
        row-gap: 10px;
        min-height: 145px;
        max-height: 145px;
        width: 250px;
    }
    .hero-another-items__item__about-item__image{
        width: 58px;
    }
    .hero-another-items__item__about-item__image img{
        width: 58px;
        height: 54px;
    }
    .hero-another-items__item__about-item__description h2{
        font-size: 12px;
        line-height: 18px;
    }
    .hero-another-items__item__about-item__description h3{
        font-size: 10px;
        line-height: 12px;
    }
    .price-and-toBasket h2{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 3px;
        font-size: 14px;
        line-height: 16px;
    }   
    .price-and-toBasket__price span{
        font-size: 12px;
        line-height: 14px;
    }   
    .price-and-toBasket__toBasket{
        width: 32px;
        height: 32px;
    }
}