@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
a:link{
    color: white;
}
a:visited{
    color: inherit;
}
.dflex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-sbetween{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.fd-col{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.col-gap-23{
    column-gap: 23px;
}
.row-gap-23{
    row-gap: 23px;
}
.row-gap-10{
    row-gap: 10px;
}
.w100{
    width: 100%;
}
section > div{
    width: 88%;
    max-width: 1267px;
}
.menu_mobile_btn{
    display: none;
}
.menu_mobile{
    display: none;
    transition: all 1s;
}
.visuallyhidden {
    opacity: 0;
}
.section-header{
    position: absolute;
    color: white;
}
.header{
    margin: 50px 0;
}
.logo{
    height: 80px;
}
.logo__rectangle{
    width: 48.06px;
    height: 48.06px;
    border: 2px solid #FF7400;
    transform: rotate(45deg) translate(0,0);
}
.logo__rectangle:nth-child(2){
    transform: rotate(45deg) translate(-10px,10px)
}
.menu{
    font-size: 14px;
}
.menu ul li{
    font-weight: 700;
}
.menu ul li h3:nth-child(2){
    max-width: 200px;
    font-weight: 400;
}
.menu ul li img{
    width: 20px;
    height: 18px;
}
.menu ul li div.span {
    width: 1px;
    height: 70px;
    background-color: white;
}
.menu ul li:nth-child(7) img{
    width: 23px;
    height: 23px;
    margin-top: 9px;
}
.menu ul li:nth-child(7) div h3:nth-child(1){
    font-size: 18px;
}
.menu__button{
    width: 157px;
    height: 47px;
    border: none;
    background-color: #FF7400;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.menu__button:hover{
    background-color: #c85a00;
}
.section-hero{
    background-image: url("images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.hero{
    height: 100%;
}
.hero > div{
    color: #D67E35;
    line-height: 57.5px;
}
.hero > div h2{
    text-align: center;
    max-width: 500px;
    font-weight: 400;
    font-size: 50px;
    font-family: 'Tinos', serif;
}
.hero > div h2:nth-child(2){
    font-size: 80px;
}
.hero > div h2:nth-child(3){
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}
.hero span{
    position: relative;
}
.hero span::before,
.hero span::after
{
    content: "";
    position: absolute;
    width: 61px;
    height: 2px;
    background-color: white;
    top:50%;
}
.hero span::before{
    left: -50%;
}
.hero span::after{
    right: -50%;
}