*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 10px;
}
.dflex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.ai-center{
    align-items: center;
}
.widgets{
    height: 20%;
    background-color: cornflowerblue;
}
.main{
    height: 30%;
    width: 100%;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px 0;
}
.widget{
    height: 100%;
    width: 33%;
    background-color: darkblue;
}
.contact{
    height: 50%;
    background-color: cornflowerblue;
}